.footer__legal {
    padding: $spacing;
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;

    span {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .footer__legal {
        flex-direction: column;
    }
}