.section__intro {
    padding: $spacing;
}

.section__features {
    padding: $spacing;
}

.section__features--title {
    text-align: center;
}

.section__features--text {
    display: flex;
    justify-content: space-around;
}

.section__price {
    padding: $spacing;
}

.section__price--title {
    text-align: center;
}

.section__price--card {
    display: flex;
    justify-content: space-around
}

@media screen and (max-width: 480px) {
    .section__features--text {
        flex-direction: column;
    }

    .section__price--card {
        flex-direction: column;
    }
}