@keyframes fadein {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }

}

.section__features--text {
    span {
        img {
            animation: fadein 5s infinite;
        }
    }
}