.header__topbar {
    .header__topbar--reg {
        button {
            color: $white;
            background-color: $ball-blue;
            border: none;
            text-align: center;
            cursor: pointer;
            padding: 6px 15px;
            font-weight: bold;
            transition: all 0.3s ease-in-out;

        }

        button:hover {
            background-color: $middle-blue;
        }

        button:focus {
            background-color: $lavander-grey;
        }
    }
}

.section__price--card {


    div {

        p {
            button {
                color: $white;
                background-color: $ball-blue;
                border: none;
                padding: 8px 67px;
                font-weight: bold;
                text-align: center;
            }
        }

    }
}